html,
body {
    height: 100%;
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #F5F5F5;
    border-top: 1px solid #DDD;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #C55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #A94442;
    background: #FDF7F7;
    border-left: 3px solid #EED3D7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.table th a {
    color: #333;
}


.pagination {
    width: 100%;
    margin: 0;
    position: relative;
}

.pagination > li > a {
    background: #FAFAFA;
    color: #666;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination > li > span {
    /*border: none;*/
}

.pagination > li > i {
    font-size: 12px;
    color: #999;
    margin: 0 5px;
}

.pagination > li > span:hover {
    background: none;
}

.pagination .form-control {
    display: inline;
    max-width: 50px;
}

.product-row {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 0;
    margin-bottom: 15px;
}

.product-row > .row:first-child {
    margin-bottom: 15px;
}

.delete-product {
}

.ui-menu-item {
    font-size: 12px;
    color: #333;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    background: #F2F2F2;
    border-top: none;
    border-bottom: none;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 5px 10px;
}

.ui-menu {
    padding: 5px 0;
}

.ui-menu .ui-menu-item {
    list-style-image: none;
    color: #999;
}

thead .form-control {
    padding: 2px 6px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 3px !important;
}

.switch {
    padding-top: 30px;
}

.switch .form-group {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="radio"] {
    -webkit-appearance: radio !important;
    -moz-appearance: radio !important;
    appearance: radio !important;
}

.input-sm, .input-xs {
    border-radius: 3px !important;
    font-size: 12px;
}

th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: #999 !important;
}

.table td {
    padding: 10px;
}

.table td i {
    font-size: 16px;
    color: #999;
    line-height: 28px !important;
}

.table td, .table td a {
    font-size: 12px;
    line-height: 20px !important;
}


.counter {
    display: inline-block;
    padding: 5px 0;
}

.alert {
    padding: 10px !important;
    margin-bottom: 15px !important;
}

label {
    font-weight: 300;
    color: #333;
}

.discount-row, .address-row {
    margin-bottom: 15px;
}

.content-wrapper .box-header {
    padding: 15px 20px;
}

.content-wrapper .box-body {
    padding: 20px;
    overflow-y: scroll;
}

hr {
    border-top: 1px solid #F4F4F4 !important;
    margin: 15px 0 !important;
}

.sweet-alert {
    padding: 17px 17px 30px;
}

.sweet-alert button {
    padding: 5px 17px;
    font-size: 14px;
}

.sweet-alert h2 {
    margin: 10px 0;
    font-size: 24px;
    line-height: 1.3;
    font-weight: normal;
    color: #000;
}

.sweet-alert p {
    font-size: 14px;
}

.loading {
    opacity: 0.5;
}

.select2-container--krajee .select2-selection__clear {
    font-size: 16px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0 !important;
}

.order-menu-block-body .completed span {
    text-decoration: line-through;
}

.ingestion {
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    padding: 10px 10px 0;
    margin-bottom: 10px;
}

.ingestion select {
    margin-bottom: 10px;
}

tr.error {
    background-color: rgba(255, 0, 0, 0.1);
}

.modal-buttons {
    margin-top: 30px;
}

.modal-body {
    padding: 20px 20px 5px;
}

.modal-header {
    padding-left: 20px;
    padding-right: 20px;
}

.sweet-alert button {
    border-radius: 3px !important;
    font-weight: 300;
}

.help-block {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
}

.box-footer {
    padding: 15px !important;
}

.checkbox-list label {
    font-size: 13px;
}

.checkbox-list label input {
    margin-right: 5px;
}

hr.devider {
    margin-top: 10px !important;
}

.mr-15 {
    margin-right: 15px;
}

input[type="radio"].input-sm {
    margin-top: 0;
    width: 14px;
}

.label-block {
    padding-top: 25px;
}

label input[type="checkbox"] {
    margin-right: 5px;
}

.list-element {
    border-bottom: 1px solid #F2F2F2;
}

.list-element:last-child {
    border-bottom: none;
}

.list-element > div, .left-element {
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-table {
    font-size: 12px;
    font-weight: 600;
}

.ingestion-header {
    margin-bottom: 10px;
}

.ingestion-header h5 {
    font-weight: 800;
    line-height: 34px;
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0;
}

.ingestion-header button {
    font-weight: 300;
}

.mt-25 {
    margin-top: 25px;
}

.order-buttons-block {

}

#pre-request-modal-buttons {
    margin-right: 5px;
}

.order-info p {
    font-weight: 300;
}

.order-info p span {
    float: right;
    font-weight: 500;
}

.select2-container--krajee .select2-selection {
    font-size: 12px;
}

.select2-container--krajee .select2-selection--single .select2-selection__placeholder {
    color: #333;
}

.date-input-wrapper .kv-date-picker {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.date-input-wrapper .form-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.select2-container--krajee .select2-selection--single {
    height: 30px !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    padding: 6px 24px 6px 10px !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    height: 28px !important;
    border-left: none !important;
    width: 26px !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__placeholder {
    color: #555 !important;
}

.select2-container--krajee .select2-selection {
    font-size: 12px !important;
}

.select2-results__option {
    padding: 4px 10px;
    font-size: 12px !important;
    font-weight: 300 !important;
}

.select2-container--krajee .select2-selection__clear {
    font-size: 14px;
}

.menu-row {
    background: rgba(0, 0, 0, 0.02);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.order-menu-block-body .row {
    margin-bottom: 10px;
}

.order-menu-block-body .row.error a {
    color: darkred;
}

.breadcrumb {
    padding: 3px 15px;
    margin-bottom: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}

.breadcrumb ul {
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.breadcrumb ul li {
    float: left;
    border-right: 1px solid #DCE3E5;
    padding: 6px 6px 5px 0;
    margin-right: 20px;
    text-transform: uppercase;
}

.breadcrumb a {
    font-size: 12px;
    color: #666;
    padding-right: 10px;
}

.breadcrumb li a i {
    margin-left: 10px;
}

.btn-warning {
    background: #FF9800;
    border: none !important;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}

.btn-warning:hover {
    box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0);
}

.btn-danger {
    background: #F44336;
    border: none !important;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

.btn-danger:hover {
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

.btn-default {
    background: #999 !important;
    border: none !important;
    color: #FFF !important;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn-default:hover {
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.btn-success {
    background: #4CAF50 !important;
    border: none !important;
    color: #FFF !important;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.12);
}

.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-primary {
    background: #00ACC1 !important;
    border: none !important;
    color: #FFF !important;
    letter-spacing: 1px;
    padding: 8px 15px;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 172, 193, 0.14), 0 3px 1px -2px rgba(0, 172, 193, 0.2), 0 1px 5px 0 rgba(0, 172, 193, 0.12);
}

.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 172, 193, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 172, 193, 0.2);
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #5CB860;
    color: #FFF;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4);
    padding: 20px 15px;
    font-size: 14px;
    line-height: 20px !important;
    font-weight: 300;
    letter-spacing: 0.5px;
    border: none;
}

.material-icons {
    font-size: 14px !important;
    line-height: 20px !important;
    vertical-align: sub;
}

.btn {
    vertical-align: middle;
}

.btn span {
    line-height: 20px;
}

.label-after-input {
    line-height: 30px;
    position: relative;
    left: -20px;
    display: inline-block;
}

.select-block .form-group {
    position: relative;
}

select.form-control.input-sm {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #D2D6DE;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 20px 0 10px;
}

.select-block .form-group:after {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 10px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 40px;
    width: 0;
    display: block;
    content: "";
}

.select-block.no-label .form-group:after {
    top: 15px;
}

.datepicker table tr td, .datepicker table tr th {
    font-size: 12px;
}

.dish-row {
    margin-bottom: 15px;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 5px 5px 5px 10px !important;
    color: #555;
    font-weight: 300;
}

.inventory-row {
    border-bottom: 1px solid #F2F2F2;
}

.inventory-row .ingestion-name {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inventory-row .ingestion-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.inventory-row .ingestion-content:hover {
    opacity: 0.8;
}

.reload-dish {
    width: 20px;
    height: 20px;
    display: none;
    background: #FFF;
    color: #000;
}

.inventory-row .ingestion-content:hover .reload-dish {
    display: inline-block;
}

.delete-dish {
    width: 10px;
    height: 20px;
    display: none;
    background: #FFF;
    color: darkred;
}

.inventory-row .ingestion-content:hover .delete-dish {
    display: inline-block;
}

.ingestion-row {
    position: relative;
    border-bottom: 1px solid #F2F2F2;
}

.exception-row {
    margin-bottom: 10px;
}

.ingestion-row:last-child {
    border-bottom: none;
}

.ingestion-block {
    border-left: 1px solid #F2F2F2;
}

.request-dish-to-inventory {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    background: #3C8DBC;
    border-radius: 15px;
    opacity: 0.2;
    z-index: 999;
    transition: all 0.3s ease-in;
}

.request-dish-to-inventory:hover {
    opacity: 1;
}

.add-dish-to-inventory {
    margin-left: 10px;
}

.select2-container--krajee .select2-selection__clear {
    font-size: 14px !important;
    cursor: pointer;
}

.loading {
    text-indent: -9999px;
    min-width: 120px;
    background: url("/images/loader.gif") no-repeat center #F39C12;
}

.checkbox-div {
    padding-top: 28px;
}

.report-item {
    border: 1px solid #F2f2f2;
    padding: 20px 10px;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.report-item h4 {
    text-transform: uppercase;
}

.report-item p {
    font-size: 12px;
    color: #999;
}

.ingestion-wrapper .ingestion {
    position: relative;
}

.delete-ingestion {
    border-radius: 16px !important;
    width: 24px;
    height: 24px;
    line-height: 26px;
    text-align: center;
    font-weight: lighter;
    padding: 0 !important;
    position: absolute;
    right: -12px;
    top: -12px;
}

.box-body.order-info > div > span {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
}

.box-body.order-info > div > span.select-block .form-group {
    margin-bottom: 0;
}

.box-body.order-info > div > span.select-block .form-group:after {
    top: 15px;
}

#menu-orders .box-footer {
    display: none;
}

#menu-orders .box-body {
    padding: 0;
}

#menu-composition h4 {
    padding-left: 10px;
}

#menu-orders .box-body .table thead {
    display: none;
}
